django>=5.0
djangorestframework
django-cors-headers
drf-spectacular
requests

gdal-3.11.4-cp311-cp311-win_amd64.whl
django-leaflet
django_filters

# Deployment (Standard for hosting on PythonAnywhere)
gunicorn